- import com.github.timgilbert.randomcover.Cover
-@ import val allCovers:Traversable[Cover]

- attributes("title") = "Random Album Covers: Home"
- attributes("headline") = "Random Album Covers"

a(href="/new") Create a new cover

- if (!allCovers.isEmpty)
  h2 Current covers

  ol
    - for (cover <- allCovers)
      li 
        a(href="/cover/#{cover.id}") #{cover.name}
