- attributes("title") = "Random Album Covers: Home"
- attributes("headline") = "Random Album Covers"

p Hrm

a(href="/new") Create a new cover

h2 Current covers

ol
  li 
    a(href="/cover/test") test name